<!doctype html>
<html ng-app="app">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Cloud : " />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Know your role</title>
  </head>
  
  <header>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    
    <script language="javascript" type="text/javascript">
      angular.module('app', []);
      
      //Whatever you put on the controller scope,
      //will be availalble in the HTML element bound to the controller.
      function MyController($scope){
        $scope.newModule = "ex: MGMT215";
        $scope.messages = []; 
  
        $scope.newMGMT215="";
        $scope.newMGMT215courseInfo="";
  
        $scope.newIS305="";
        $scope.newIS305courseInfo="";
        
        $scope.newIS424="";
        $scope.newIS424courseInfo="";
        
        $scope.newIS429="";
        $scope.newIS429courseInfo = "";
        
        
        $scope.add = function(){
         // $scope.messages.push($scope.newMessage);
          if($scope.newModule === "MGMT215"){
          $scope.newMGMT215="MGMT215";
          $scope.newMGMT215courseInfo = "Click here for Course Info"
          $scope.messages.push($scope.newModule);
        } else 
        if($scope.newModule === "IS305"){
          $scope.newIS305="IS305";
          $scope.newIS305courseInfo = "Click here for Course Info"
          $scope.messages.push($scope.newModule);
        }
        else 
        if($scope.newModule === "IS424"){
          $scope.newIS424="IS424";
          $scope.newIS424courseInfo = "Click here for Course Info"
          $scope.messages.push($scope.newModule);
        }
        else 
        if($scope.newModule === "IS429"){
          $scope.newIS429="IS429";
          $scope.newIS429courseInfo = "Click here for Course Info"
          $scope.messages.push($scope.newModule);
        }
        };
      }
      
      
    </script>
  </header>
  
  <body ng-controller="MyController">
   <font color="white">Module</font>  <br>     
    <input type="text" ng-model="newModule">
    <input type="submit" ng-click="add()" value="submit">
    <br><br>
    <font color="white">Know what time and day is the mod: <br>
    <table border = "2px solid red">
      <tr>
        <td>Time</td> 
        <td>Monday</td>   
        <td>Tuesday</td>          
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
      </tr>
      <tr>
        <td>0800 - 1200</td>
        <td></td>
        <td>{{newIS305}}<br> <a href="http://sisapps.smu.edu.sg/CDDR/Courses.aspx?P=104&C=724&CT=(IS305)">{{newIS305courseInfo}}</a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1200 - 1500</td>
        <td>{{newMGMT215}}<br> <a href="http://info.smu.edu.sg/courses/outlines/UGRD/1220/MGMT215_LauTatChuan.pdf">{{newMGMT215courseInfo}}</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>1500 - 1900</td>
        <td></td>
        <td></td>
        <td>{{newIS424}}<br> <a href="http://sisapps.smu.edu.sg/CDDR/Courses.aspx?P=104&C=782&CT=(IS424)%2520Data%2520Mining%2520and%2520Business%2520Analytics">{{newIS424courseInfo}}</a></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    </font>
  </body>
  
</html>
